main {
    padding:1rem;
}

main.single.post {
    max-width:40em;
    display:block;
    margin:1rem auto;
}

header, footer {
    width:100%;
    height : 2rem;
    display:block;
    text-align: right;
}

a:hover  {
    background-color: aqua;
}

.pagination {
    list-style-type: none;
    max-width: 50%;
    margin:1rem auto;
}

.pagination .active {
    background-color:deepskyblue;
}

.pagination li {
    text-align: center;
    display: inline-block;
    padding:0.5rem;
}


.pagination a {
    text-decoration: none;
}
