<!DOCTYPE html>
<html lang='{{ $.Site.LanguageCode | default "ko" }}'>
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ partial "analytics.html" . }}
    <title>{{block "title" . }}  {{ with .Title}} {{.}} - {{end}} {{ .Site.Title }} {{end}}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

</head>
<body>
{{block "header" . }}
    {{ partial "site-header.html" . }}
{{end}}

{{block "main" . }} {{ end }}

{{block "footer" . }}
    {{ partial "site-footer.html" . }}
{{end}}

{{block "scripts" . }}
    {{ partial "site-scripts.html" . }}
{{end}}
</body>
</html>
